global:
  scrape_interval: 5s
  evaluation_interval: 5s

scrape_configs:
  # Prometheus self-monitoring
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"]

  # .NET Write API
  - job_name: "payment-write-api"
    metrics_path: "/metrics"
    static_configs:
      - targets: ["host.docker.internal:6208"]
    relabel_configs:
      - source_labels: [__address__]
        target_label: instance
        replacement: "write-api"

  # .NET Read API
  - job_name: "payment-read-api"
    metrics_path: "/metrics"
    static_configs:
      - targets: ["host.docker.internal:5289"]
    relabel_configs:
      - source_labels: [__address__]
        target_label: instance
        replacement: "read-api"

  # Kafka Connect
  - job_name: "kafka-connect"
    static_configs:
      - targets: ["kafka-connect:8083"]
    metrics_path: "/metrics"
    relabel_configs:
      - source_labels: [__address__]
        target_label: instance
        replacement: "kafka-connect"

  # Elasticsearch
  - job_name: "elasticsearch"
    static_configs:
      - targets: ["elasticsearch:9200"]
    metrics_path: "/_prometheus/metrics"
    relabel_configs:
      - source_labels: [__address__]
        target_label: instance
        replacement: "elasticsearch"